body { /*web tarayıcı pencerindeki boşluklar*/
    margin: 5%;
    padding: 0;
}

header {
    clear: both;
    display: flex;
    justify-content: center;
}

.cobj {
    clear: both;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.bg-grey {
    background-color: gainsboro;
}

.bg-green1 {
    background-color: rgb(107, 245, 231);
}

.bg-green2 {
    background-color: rgb(65, 207, 193);
}

.bg-green3 {
    background-color: rgb(31, 151, 139);
}

.button {
    margin-right: 5px;
}

.card-1 {
    margin-top: 0.1%;
    margin-right: 0.1%;
    width: 37%;
    height: 100px;
    float: left;
    text-align: center;
}
.card-2 {
    margin-top: 0.1%;
    margin-right: 0.1%;
    width: 19.8%;
    height: 100px;
    float: left;
    text-align: center;
}
.card-3 {
    margin-top: 0.1%;
    width: 43%;
    height: 100px;
    float: left;
    text-align: center;
}

input::placeholder {
    text-align: left;
}
ul {
    list-style: none;
}